@import '@styles/base';

.addButton {
    color: var(--color-text) !important;
    background-color: var(--color-bg) !important;
}

.table {
    background-color: var(--color-bg);
    color: var(--color-text);
}