@import '@styles/base';

@include container {
    @include apply-at-xs-size {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include apply-at-xs2-size {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @include apply-at-md-size {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .allContent {
        background-color: var(--color-bg);
        padding-left: 40px;
        padding-right: 40px;
        @include directionY;

        .cardContainer{
            align-items: center;
            display: flex;
            height: 100%;

            @media (max-width: 1200px) {
                @include directionY;
            }
           
            .itemInfo {
                @include directionX;
                padding-top: 3%;
                width: 100%;
    
                .itemTitle {
                    font-size: 40px;
                    font-weight: bolder;
                    padding-top: 1%;
                }
        
                .itemPrice {
                    font-size: 50px;
                    font-weight: 700;
                }
        
                .itemDesc {
                    font-size: 20px;
                }
            }
    
            .addItem {
               background-color: 2px solid var(--color-bg-secondary);
               border-radius: 20px;
               width: 600px;
               height: fit-content;
               padding: 2%;
               @include directionY;
               align-items: center;
               justify-content: center;
    
               .itemAddTitle {
                font-weight: bolder;
                margin-bottom: 2%;
               }

               .adJustItemContainer {
                @include directionX;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2%;
                width: 100%;

                @media (max-width: 1468px) {
                    @include directionY;
                }

               }
    
               .cartButton {
                    color: var(--color-text) !important;
                    background-color: var(--color-button) !important;
                    border-radius: 20px;
                    margin-top: 1%; 
                    
                }
            }
            
        }
        
        .cardUlasan {
            background-color: var(--color-button) !important;
        }
    }

}