@import '@styles/base';

@include container {
    @include apply-at-xs-size {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include apply-at-xs2-size {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @include apply-at-md-size {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .pageTitle {
        font-size: 40px;
        font-weight: 700;
    }

    .contentContainer {
        @include directionX;
        justify-content: space-between;
        gap: 10px;

        @media (max-width:1069px) {
            @include directionY;
            width: 100%;
        }

        .cardContainer {
            background-color: var(--color-bg);
            height: 100%;
            padding-left: 20px;
            padding-right: 20px;
    
            .contentCardContainer {
                @include directionX;
                align-items: center;
                justify-content: space-between;
                padding: 10px;

                @media (max-width:603px) {
                    @include directionY;
                    width: 100%;
                }
    
                .contentLeft {
                    @include directionX;
                    align-items: center;
                }
    
                .contentRight {
                    @include directionY;
                    align-items: center;

                    @media (max-width:603px) {
                        @include directionX;
                        align-items: center;
                        justify-content: center;
                    }

                    @media (max-width:483px) {
                        @include directionY;
                        align-items: center;
                        justify-content: center;
                    }

                    .contentRightTop {
                        @include directionY;
                        align-items: end;
                        width: 100%;

                        @media (max-width:483px) {
                            align-items: center;
                            justify-content: center;
                        }
                    }
    
                    .stockContainer {
                        @include directionX;
                        background-color: var(--color-button);
                        padding: 5px;
                        border-radius: 20px;
                        align-items: center;
    
                        .adjustStockContainer {
                            @include directionX;
                            border-radius: 5px;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }

            .cartEmpty {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                font-size: 30px;
            }
        }
    }

    .cardSummaryContainer {
        background-color: var(--color-bg);
        height: 100%;
        margin-top: 1%;
        border-radius: 20px;
        height: 160px;
        width: 100%;
        max-width: 280px;
        padding: 1%;
        @include directionY;

        @media (max-width:1069px) {
           width: 100%;
           max-width: none;
        }

        .summaryTitle {
            font-size: 30px;
            font-size: 700;
            padding-top: 5px;
        }

        .total {
            @include directionX;
            justify-content: space-around;
            margin-top: 20px;
    
            .totalText {
                font-size: 20px;
            }
        }

        .buyButton {
            color: var(--color-text) !important;
            background-color: var(--color-button) !important;
            border-radius: 20px;
        }
    }
}