@import '@styles/base';

@include container {

    .pageTitle {
        font-size: 40px;
        font-weight: 700;
    }

    .contentContainer {
        @include directionX;
        justify-content: space-between;
        gap: 10px;

        @include apply-at-xs-size {
            @include directionY;
        }

        @include apply-at-xl-size {
            
        }

        @include apply-at-xxl-size {
            @include directionX;
        }

        .cardContainer {
            background-color: var(--color-bg);
            height: 100%;
            padding-left: 20px;
            padding-right: 20px;
    
            .contentContainer {
                @include directionX;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                
                @include apply-at-xs-size {
                    @include directionY;
                }
                @include apply-at-xs2-size {
                    @include directionY;
                }
                @include apply-at-sm-size {
                    @include directionX;
                }    
                @include apply-at-xxl-size {
                    @include directionX;
                }
        
    
                .contentLeft {
                    @include directionX;
                    align-items: center;
                }
    
                .contentRight {
                    @include directionY;
                    align-items: center;
    
                    .stockContainer {
                        @include directionX;
                        background-color: var(--color-bg);
                        padding: 5px;
                        border-radius: 20px;
    
                        .adjustStockContainer {
                            border-radius: 5px;
                        }
                    }
                }
            }

            .cartEmpty {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                font-size: 30px;
            }
        }
    }

    .cardSummaryContainer {
        background-color: var(--color-bg);
        height: 100%;
        @include directionY;
        @include apply-at-xs-size {
            width: 100%;
        }

        .summaryTitle {
            font-size: 30px;
            font-size: 700;
            padding-top: 5px;
        }

        .total {
            @include directionX;
            justify-content: space-around;
            margin-top: 20px;
            @include apply-at-xs-size {
                justify-content: center;
                gap: 150px;
            }
    
            .totalText {
                font-size: 20px;
            }
        }

        .buyButton {
            color: var(--color-text) !important;
            background-color: var(--color-bg) !important;
            border-radius: 20px;
        }
    }
}