@import './media-mixins.scss';

@mixin light-theme {
  --color-bg: #fff;
  --color-bg-secondary: #e8eef1;
  --color-text: #181818;
  --color-button: #F1F1F1;
}

@mixin dark-theme {
  --color-bg: #474F7A;
  --color-bg-secondary: #1F2544;
  --color-text: #EEF5FF;
  --color-button: #333A73;
}
